@media (max-width: 1140px)
  .hotel
    &-swiper
      max-width: 590px
      height: 450px
  .card
    width: 230px
    height: 230px

  .packages
    padding: 40px 0 50px 0
    &-wrapper
      grid-template: repeat(3, 500px) / repeat(2, 350px)
      justify-content: center
  
@media (max-width: 992px)
  .navbar
    &-top
      padding: 30px 0
    &-bottom
      padding: 22px 0
    &__search
      width: 340px
    &__link
      font-size: 12px
      line-height: 15px

  .logo__img
    width: 132px

  .hotel
    &-grid
      flex-wrap: wrap
    &__cards
      flex-direction: row
      justify-content: space-between
      width: 100%
    &-swiper
      margin: 0 0 30px 0 
      max-width: 100%
      height: auto


  .booking
    width: 340px

  .map
    width: 340px
  
  .newsletter
    padding: 92px 0 
    &__wrapper
      justify-content: space-between

  .reviews
    padding: 40px 0 60px 0
    &__title
      margin: 0 0 50px 0
      font-size: 30px
      line-height: 38px
    &-swiper
      &-item
        padding: 0 62px 30px 62px
        width: 579px

  .activities
    padding: 60px 0 50px 0
    &-wrapper
      flex-wrap: wrap
    &__card
      margin: 0 0 20px 0

  .card
    height: 255px       
    width: 48.5%

  .packages
    &-wrapper
      grid-template: repeat(3, 500px) / repeat(2, 330px)

  .footer
    padding: 73px 0 33px 0
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
      padding: 0 0 56px 0
    &__logo
      width: 104px
      grid-column: span 2
      grid-row: 1
    &__social
      &-network
        grid-row: 1
        grid-column: 3 / 7
        align-self: center
    &__categories
      grid-column: span 2
      grid-row: 2
    &__additional
      grid-column: span 2
      grid-row: 2
    &__legal
      grid-column: span 2
    &__contact-details
      grid-row: 3
      grid-column: 1 / 5
    &__contacts-form
      grid-row: 4
      grid-column: 1 / 5
    &__input
      &_group
        flex-basis: 47%

  .copyright
    max-width: 100%                
    margin: 0 0 0 0


@media (max-width: 768px) 
  body
    padding: 78px 0 0 0
  .burger
    display: flex

  .navbar
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 100
    width: 100%
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      z-index: -1
      width: 100vw
      height: 100%
      background-color: #FFFFFF
    &__search, &__user
      &_mobile
        &_hidden
          display: none
    &__item
      display: flex
      justify-content: center
      width: 100%
      margin: 0 0 20px 0
      &_mobile
        &_visible
          display: flex
      &:nth-child(1)
        margin: 0 0 27px 0
      &:nth-child(2)
        margin: 0 0 39px 0

    &__list
      flex-wrap: wrap
      align-content: flex-start
      height: 400px
    &__nav
      position: absolute
      top: -100vh
      left: 0
      right: 0
      z-index: -3
      width: 100vw
      height: 100vh
      transition: all 1s ease 
      overflow: auto
      &_visible
        top: 78px
  .burger.active
    justify-content: center
    &>.burger__line
      transition: all 0.7s ease
      &:nth-child(1)
        transform: rotate(45deg)
      &:nth-child(2)
        transform: scaleX(0)
        transition: all 0.2s ease
      &:nth-child(3)
        display: block
        transform: rotate(-45deg) translate(1.2px, -1.3px)
  
  .user
    flex-direction: column
    &__img
      margin: 0 0 10px 0
    &__name
      color: #ffffff

  .breadcrumb
    &-list
      &__item                          
        font-size: 10px
        line-height: 13px

  .hotel
    padding: 5px 0 20px 0
    &-info
      &__text
        flex-basis: 100%
      &__wrapper
        justify-content: space-between
      &__name
        margin: 10px 0 0 0
        flex-basis: 100%
      &__rating
        display: none
      &__offer
        @include flexorder(-2)
    &-swiper
      margin: 0 0 30px 0
    &__cards
      flex-direction: column
      justify-content: space-between
    &__booking
      margin: 0 0 20px 0
  .booking
    width: 100%

  .map
    width: 100%

  .stars
    flex-basis: auto

  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin: 0 0 37px 0
      font-size: 20px
      line-height: 25px
    &__strong
      font-size: 30px
      line-height: 38px
    &__wrapper
      flex-direction: column
      align-items: flex-start
      justify-content: space-between

  .reviews
    padding: 40px 0 50px 0
    &__title
      margin: 0 0 42px 0
      font-size: 18px
      line-height: 23px
    &-swiper
      &-item
        padding: 0 31px 36px 31px
        max-width: 100%
        &::before
          content: ''
          display: none
        &::after
          content: ''
          display: none
        &__text
          text-align: left
      &__button
        position: absolute
        top: 30px
        &_prev
          left: 50%
          margin: 0 0 0 -85px
          transform: translateX(-50%)
        &_next
          right: 50%
          margin: 0 -85px 0 0
          transform: translateX(50%)

  .activities
    padding: 40px 0
    &__title
      margin: 0 0 36px 0
      font-size: 18px
      line-height: 23px

  .card    
    width: 100%

  .packages
    &__heading
      margin: 0 0 36px 0
      font-size: 18px
      line-height: 23px
    &-wrapper
      grid-template: repeat(5, 500px) / 1fr
    &-current-card
      flex-direction: column
      grid-column: 1 / 2
      &__description
        padding: 30px 21px 25px 32px
      &__stars
        display: none
      &__title
        margin: 0 0 23px 0
        font-weight: bold
        font-size: 18px
        line-height: 23px
      &__person-room
        margin: 0 0 24px 0
      &__text
        display: none

  .footer
    padding: 73px 0 33px 0
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
      padding: 0 0 56px 0
    &__contacts-form
      grid-column: 1 / 6


@media (max-width: 768px) and (orientation: landscape) 
  @for $i from 3 through 8
    .navbar__item:nth-child(#{$i})
      width: 50%
    
  .navbar
    &__item:nth-child(9)
      width: 100%

        

@media (max-width: 560px)
  .navbar
    &__search
      width: 90%
  .logo__img
    width: 100px

  .hotel           
    &-swiper
      margin: 0 0 20px 0
    &-info
      padding: 0 0 38px 0
    
  .subscribe
    width: 100%

  .footer
    padding: 69px 0 21px 0
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 30px
      padding: 0 0 30px 0
    &__title
      &_mb-15
        margin: 0 0 15px 0
    &__logo
      width: 104px
      grid-column: 1
    &__social
      &-network
        flex-direction: column
        align-items: start
        grid-row: 2
        grid-column: 1
    &__categories
      grid-column: 1
      grid-row: 3
    &__additional
      grid-column: 1
      grid-row: 4
    &__legal
      grid-column: 1
      grid-row: 5
      justify-self: start
    &__contact-details
      grid-row: 6
      grid-column: 1
    &__contacts-form
      grid-row: 7
      grid-column: 1
    &__input
      &-group
        flex-basis: 100%
    &__textarea
      margin: 15px 0
    &__button
      order: 1
    &__info
      flex-basis: 100%
      margin: 0 0 15px 0

  .copyright
    flex-direction: column
    align-items: start
    &__item:not(:last-child)
      margin: 0 7px 0 0
    &__list
      margin: 0 0 10px 0

  .modal
    &__dialog
      width: 370px
      min-height: 487px
      padding: 18px 40px

@media (max-width: 415px)
  .modal
    &__dialog
      width: 300px
      min-height: 487px
      padding: 18px 30px
    &__button
      margin: 0 0 10px 0


