//<МИКСИНЫ>==============================================================================================================
@import "_mixins.sass"
//</МИКСИНЫ>=============================================================================================================

//<ШРИФТЫ>===============================================================================================================
@font-face
  font-family: 'Muli'
  src: url('../fonts/Muli Light.eot')
  src: local('☺'), url('../fonts/Muli Light.woff') format('woff'), url('../fonts/Muli Light.ttf') format('truetype'), url('../fonts/Muli Light.svg') format('svg')
  font-weight: 300
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Muli'
  src: url('../fonts/Muli-Regular.eot')
  src: local('☺'), url('../fonts/Muli-Regular.woff') format('woff'), url('../fonts/Muli-Regular.ttf') format('truetype'), url('../fonts/Muli-Regular.svg') format('svg')
  font-weight: 400
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Muli'
  src: url('../fonts/Muli-Bold.eot')
  src: local('☺'), url('../fonts/Muli-Bold.woff') format('woff'), url('../fonts/Muli-Bold.ttf') format('truetype'), url('../fonts/Muli-Bold.svg') format('svg')
  font-weight: 700
  font-style: normal
  font-display: swap

//</ШРИФТЫ>==============================================================================================================

//<ПЕРЕМЕННИЕ>===========================================================================================================
@import "_variables.sass"
//</ПЕРЕМЕННИЕ>==========================================================================================================

//<ОБНУЛЕНИЯ, ОБЩИЕ ПАРАМЕТРЫ>===========================================================================================
@import "_nullstyle.sass"
//</ОБНУЛЕНИЯ, ОБЩИЕ ПАРАМЕТРЫ>==========================================================================================

//<ОБОЛОЧКА>=============================================================================================================
.wrapper
  width: 100%
  min-height: 100%
  overflow: hidden

body
  font-family: "Muli", sans-serif
  color: $text-color
  background: $secondary
  &.active
    overflow: hidden
//</ОБОЛОЧКА>============================================================================================================

//<ОСНОВНАЯ СЕТКА>=======================================================================================================
.container
  max-width: $mv+px
  margin: 0 auto
  width: 100%

  @media (max-width: $md1+px)
    max-width: 970px

  @media (max-width: $md2+px)
    max-width: 700px

  @media (max-width: $md3+px)
    max-width: 530px

  @media (max-width: $md4+px)
    max-width: 440px

  @media (max-width: $md5+px)
    max-width: none
    padding: 0 20px

//</ОСНОВНАЯ СЕТКА>======================================================================================================
.form  
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  
.input
  height: 50px
  padding: 0 23px
  margin: 0 0 15px 0

.textarea
  flex-basis: 100%
  height: 123px
  padding: 18px 23px
  resize: none

.input, .textarea
  font-weight: normal
  font-size: 12px
  line-height: 15px
  color: #BDBDBD
  background: $light
  border-radius: 4px

.button
  min-width: 160px
  min-height: 50px
  padding: 18px
  font-weight: bold
  font-size: 12px
  line-height: 15px
  color: #FFFFFF
  background: #EC1F46
  border-radius: 4px
//<ОСНОВНОЙ БЛОК>========================================================================================================

//</ОСНОВНОЙ БЛОК>=======================================================================================================

//<ПОДКЛЮЧЕНИЯ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЕЛМЕНТОВ>=========================================================================
@import "blocks/_header.sass"
@import "blocks/_footer.sass"
@import "blocks/_breadcrumb.sass"
@import "blocks/_hotel.sass"
@import "blocks/_newsletter.sass"
@import "blocks/_reviews.sass"
@import "blocks/_activities.sass"
@import "blocks/_packages.sass"
@import "blocks/_modal.sass"
//</ПОДКЛЮЧЕНИЯ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЕЛМЕНТОВ>========================================================================

//<ПОДКЛЮЧЕНИЕ МЕДИА ЗОПРОСОВ>===========================================================================================
@import "_media.sass"
//</ПОДКЛЮЧЕНИЕ МЕДИА ЗОПРОСОВ>==========================================================================================
